:root {
  --width-sidebar-hidden: 60px;
  --color-background: #2f4050;
  --color-green: #4a8e33;
  --color-orange: #d7971d;
  --color-red: #ad3131;
}
body {
  background-color: #f3f3f4;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #676a6c;
  transition: all ease .3s;
}


ul.dropDown {
  position: relative;
  background-color: var(--color-background);
  color: white;
  padding: 0;
  margin: 0;
}
.dropDown li {
  list-style: none;
  border-bottom: 1px solid white;
}
.dropDown li:last-child {
  border-bottom: none
}
.dropDown button {
  all: unset;
  cursor: pointer;
  padding: 0 15px 0 13px;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.dropDown button:not([disabled]):hover {

}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.white-card {
  padding: 15px;
  margin-bottom: 25px;
  background-color: #fff;
}
.btn-default {
  color: inherit;
  background: #fff;
  border: 1px solid #e7eaec;
}

button[disabled] {
  cursor: unset !important;
}
/*noinspection ALL*/
textarea {
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  box-sizing: border-box;
  color: inherit;
  display: block;
  padding: 6px 12px;
  -webkit-transition: border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
  transition: border-color .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
  -o-transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
  transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
  transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s,-webkit-box-shadow .15s ease-in-out 0s;
  width: 100%;
}
.d-none {
  display: none;
}



#LogdNix {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "sidebar main" "sidebar main";
  grid-template-columns: auto 1fr;
  grid-template-rows: 40px auto;
}

.hideSideBar i {
  opacity: .16;
}
.hideSideBar {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  padding: 3px 8px;
  z-index: 1;
  color: white;
}
.hideSideBar.active {
  width: var(--width-sidebar-hidden);
  background-color: var(--color-background);
  height: 100vh;
  left: 0;
  z-index: 1;
  opacity: 0.8;
}
.hideSideBar.active i {
  opacity: 0.3;
}
.hideSideBar:hover i {
  opacity: 0.37;
}
#Sidebar {
  position: sticky;
  top: 0;
  overflow: scroll;
  max-height: 100vh;
  grid-area: sidebar;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#Sidebar >ul {
  float: right;
  padding-left: 0;
  margin-top: 39px;
}

#Sidebar ul.button-editBlock {
  display: flex !important;
}

#Sidebar.hidden {
  width: var(--width-sidebar-hidden);
  overflow: hidden;
}
#Sidebar .navbarButton.active[disabled] + .button-editBlock {
  display: flex !important;
}
#Sidebar .navbarButton.preActive {
  color: #fff;
  background-color: var(--color-red) !important;
  opacity: .78;
}
#Sidebar .navbarButton.active {
  color: #fff;
  background-color: var(--color-green) !important;
  opacity: .78;
}
.navbarButton {
  all: unset;
  cursor: pointer;
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
  width: 100%;
  box-sizing: border-box;
}
.navbarButton:not([disabled]):hover {
  background-color: #293846;
  color: #fff;
}
.navbarButton:not([disabled]):focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.navbarButton[disabled] {
  cursor: unset;
}
.navBlock {
  position: relative;
  display: flex;
  flex-direction: column;
}
.navBlock li {
  list-style: none;
}

ul.button-editBlock {
  display: none !important;
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
}
ul.button-editBlock li {
  position: relative;
  border: none;
}
ul.button-editBlock button[disabled] {
  opacity: .4;
}
ul.button-editBlock button:not[disabled]:hover {
  color: var(--color-green);
}
.navItem {
  position: relative;
}

ul.button-editBlock button {
  width: auto;
  padding: 0 7px;
  font-size: 10px;
}

.fileInput label, .button-export {
  all: unset;
  position: relative;
  display: flex;
  height: auto;
  padding: 13px 20px 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: .008em;
  z-index: 1;
  opacity: .4;
}
.fileInput label:hover, .button-export:hover {
  opacity: .6;
}

#FileInput {
  visibility: hidden;
  width: 0;
}

#TopBar .buttons-right {
  display: flex;
}

#TopBar {
  position: sticky;
  top: 0;
  grid-area: topBar;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
}
#TopBar li, #BottomBar li {
  list-style: none;
}
#TopBar ul, #BottomBar ul {
  all: unset;
  display: flex;
}

#TopBar .navbarButton {
  padding-bottom: 7px !important;
  padding-top: 10px !important;
}
#EditMode-button {
  position: relative;
  all: unset;
  height: auto;
  padding: 13px 20px 10px;
  align-self: flex-start;
  font-weight: bold;
  color: var(--color-orange);
  cursor: pointer;
  font-size: 12px;
  letter-spacing: .008em;
  z-index: 1;
}
#EditMode-button.active {
  opacity: 1;
  background-color: var(--color-orange);
  color: var(--color-background);
}
#EditMode-button:not([disabled]):hover {
  opacity: .8;
  background-color: var(--color-orange);
  color: var(--color-background);
}
#Main {
  display: grid;
  grid-area: main;
  grid-template-areas: "topBar" "content" "bottomBar";
  grid-template-rows: 40px auto 33px;
}
#Content > * {
  margin-left: 20px;
  margin-right: 20px;
}
#Content {
  grid-area: content;
}
#BottomBar {
  overflow: scroll;
  grid-area: bottomBar;
  position: sticky;
  bottom: 0;
  background-color: var(--color-background);
}
#BottomBar ul {
  display: flex;
  padding: 0;
  margin: 0;
}
#BottomBar button {
  padding-top: 8px;
  padding-bottom: 3px;
  min-width: max-content;
}

.col {
  padding: 0 25px 35px;
}

.item p {
  white-space: break-spaces;
}
.item {
  position: relative;
}

#EditThisItem + #EditButtonOptions {
  display: inline-block !important;
}
#EditButtonOptions {
  display: none !important;
}
#ButtonEdit {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
}

#ButtonEdit button[type="edit"] {
  position: absolute;
  right: 0;
  top: 0;
}
